#content {
  font-family: Arial, Helvetica, sans-serif;
  left: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

#quotes-container {
  margin-top: 20px;
}

#navigation {
  margin-top: 50px;
}

#button {
  margin-top: 20px;
}

.photo {
  height: 500px;
}

#cats-image-container {
  margin-top: 20px;
}
