#content {
  font-family: Arial, Helvetica, sans-serif;
  left: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

li:not(:last-child) {
  margin-bottom: 5px;
}

/*
 * TODO(carolynlwang): Come up with more flexible numbers.
 */
@media (max-height: 2000px) {
  #content {
    bottom: 40px;
  }
  #navigation {
    padding-bottom: 40px;
  }
}

#quotes-container {
  margin-top: 20px;
}

#navigation {
  margin-top: 50px;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo {
  height: 500px;
}

#comment-header {
  display: none;
}

#cat-photo-container {
  margin-top: 20px;
}

#cat-photo {
  display: none;
}

#select-comments {
    margin-top: 10px;
}

#total-comments-text {
    display: inline-block;
}